.briefs{
    margin-top: 20px;
}
.briefs .popover{
    display: block;
    position: relative;
    box-shadow: none;
    max-width: 100%;
}
.infos{
    margin-top: 20px;
}
.settings{
    margin-top: 20px;
}
.table-info tbody tr td{
    padding: 5px;
}
.table-info tbody tr td:first-child{
    width: 160px;
    text-align: right;
    padding-right: 30px;
    line-height: 30px;
}