html,
body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
#footer {
    height: 60px;
    background-color: #f5f5f5;
}
#content{
    padding-top: 50px;
}              
.global-alert-c{
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: 500;
}
.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.global-alert-c div{
    max-width: 768px;
    margin-bottom: 5px;
}
@media (max-width: 768px) {
    .global-alert-c,.global-warning{
        top:202px;
    }
}
.global-warning{
    width: 100%;
    position: fixed;
    top: 50px;
    z-index: 1500;
  }
.global-warning div{
    display: none;
    max-width: 768px;
    margin-bottom: 5px;
}
.btn-full{
    height: 100%;
    width: 100%;
}
.line{
    height: 40px;
    padding-bottom: 8px;
}
.font-red{
    color: red;
}
.btn-textarea{
    vertical-align: baseline;
    cursor: text;
    display: inline-block;
    border: none;
    background: #eee;
    overflow: visible;
    padding: 0;
    margin: 0 1px;
}
.num-counter{
    position: relative;
    float: right;
    width: 70px;
    height: 20px;
    margin-right: 30px;
    margin-top: -50px;
    font:14px/20px Georgia,Tahoma,Arial;
    text-align: right;
    color: #858585;
    display: none;
  }
.datetime{
  color: #858585;
}
.main-page{
    padding-top: 20px;
    padding-bottom: 20px;
}
.toolbar{
    height: 20px;
}
.toolbar a{
    float:right;
    text-decoration: none;
    width: 40px;
    color: #B4B4B4;
}
.toolbar a:hover{
    color: black;
}
.toolbar button{
    float:right;
}
.text-center{
    text-align: center;
}