{% extends "base.html" %}

{% block head %}
<title>{{_("M-Lang - signin")}}</title>
<link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block content%}
<a href="/settings/common">{{l10n.setting_common}}</a>
<a href="/settings/avatar">{{l10n.setting_avatar}}</a>
<a href="/settings/password" style="background:#e5ebe4">{{l10n.setting_password}}</a>
{% if errors and errors > 0 %}
<div class="error_message">
    {% for error_message in error_messages %}
    <p>{{error_message}}</p>
    {% endfor %}
</div>
{% endif %}

{% if messages %}
<div class="other_message">
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
</div>
{% endif %}

<form method="post" action="/settings/password">
<table cellpadding="5" cellspacing="0" border="0">
    <tr>
        <td>{{l10n.string_current_password}}</td>
        <td><input type="password" name="current_password"></td>
    </tr>
    <tr>
        <td>{{l10n.string_new_password}}</td>
        <td><input type="password" name="new_password"></td>
    </tr>
    <tr>
        <td>{{l10n.string_repeat_password}}</td>
        <td><input type="password" name="new_password_repeat"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="{{l10n.string_submit}}"></td>
    </tr>
</table>
</form>
{% endblock %}